<div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="name" class="block text-900 font-medium mb-2">Nombre</label>
            <input id="name" type="text" placeholder="Nombre" pInputText class="w-full"
                [formControl]="formGroup.controls.name">
            <small *ngIf="formGroup.controls.name | inputValid" id="name-help" class="p-error w-full">Debes introducir un nombre con mínimo 2 carácteres</small>
        </div>
        <div class="mb-3">
            <label for="brand" class="block text-900 font-medium mb-2">Marca</label>
            <bolted-autocomplete-brand [fromControl]="formGroup.controls.brand"></bolted-autocomplete-brand>
            <!-- <input id="brand" type="text" placeholder="Marca" pInputText class="w-full" [formControl]="formGroup.controls.brand"> -->
            <small *ngIf="formGroup.controls.brand | inputValid" id="brand-help" class="p-error">Debes seleccionar una marca</small>
        </div>
  
        <p-button pRipple type="submit" [label]="headerName" icon="pi pi-user" styleClass="w-full"
            [loading]="isLoading" [disabled]="formGroup.invalid"></p-button>
    </form>
  </div>